body {
    background-color: rgb(166, 193, 84);
}
h1 {
    color: rgb(135, 26, 198);
    text-shadow: none;
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 0%; 
     
}
p {
    color: rgb(58, 8, 116);
    text-align: center;
    font-size: 20px;   
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box ;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: white;
    padding: 30px;
    border-radius: 10px;
    
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    box-shadow: -5px -5px 25px rgb(128, 159, 37), 5px 5px 15px rgb(0,0,0,0.2);
    cursor: pointer;
    font-size: 25px;
    color: rgb(47, 91, 23);
    margin: 6px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    width: 230px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: -5px -5px 25px rgb(128, 159, 37), 5px 5px 15px rgb(0,0,0,0.2);
    color: rgb(47, 91, 23);    
}
form input.equal{
    width: 120px;

}